{% extends 'base.html' %}
{% load filter_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block mainbody %}
    <div class="container">
        <table class="col-lg">
            <thead class="border">
                <tr>
                    <th>S.No.</th>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="border">
                {% for order in orders %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th><img src="{{order.product.product_image.image.url}}" height="50px"></th>
                    <th>{{order.date}}</th>
                    <th>{{order.product.name}}</th>
                    <th>{{order.price|currency}}</th>
                    <th>{{order.quantity}}</th>
                    <th>{{order.quantity|multiply:order.price|currency}}</th>
                    <!-- <th>{{order.status|default:'pending'}}</th> -->
                    {% if order.status %}
                    <th><small class="badge badge-success">Completed</small></th>
                    {% else %}
                    <th><small class="badge badge-warning">Pending</small></th>   
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>